<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Register</title>
    <link rel="icon" href="./photo/i-registered-eye.gif">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>College Register</h1>
        </div>
        <div class="row">
            <h4 style="text-align:center">We'd love to hear from you!</h4>
        </div>
        
        <div style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
">
            <form action="/show" method="get">
                <div class="col-xs-12">
                    <button class="btn-lrg submit-btn" >Show All</button>
                </div>
            </form>
            <form action="/create" method="get">
                <div class="col-xs-12">
                    <button class="btn-lrg submit-btn" >Create</button>
                </div>
            </form>
            <form action="/find" method="get">
                <div class="col-xs-12">
                    <button class="btn-lrg submit-btn" >Find</button>
                </div>
            </form>
            <form action="/update" method="get">
                <div class="col-xs-12">
                    <button class="btn-lrg submit-btn" >Update</button>
                </div>
            </form>
            <form action="/delete" method="get">
                <div class="col-xs-12">
                    <button class="btn-lrg submit-btn" >Delete</button>
                </div>
            </form>
    
        </div>

    </div>
    
</body>
</html>