<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Register</title>
    <link rel="icon" href="./photo/i-registered-eye.gif">
</head>
<body style="background-color: #444442; padding-top: 7%; font-family: 'Montserrat', sans-serif;">
    <div >
        <button class="btn-lrg submit-btn" style="float : left; margin: 0%; padding: 25px 40px; border-radius: 15px; background-color: #9b9b9b; border: 1px solid #2d2d2d;"><a href="/"  style="text-decoration: none; color: #fff; font-weight: bold; font-size: 30px;">Home</a></button>
     </div>
    <div class="container">
        
        <div style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
">
        <h1 style="color: #fff; font-size:300%; font-weight:bold; margin:20%;"> 
            <span style="color: rgb(255, 68, 0);"> <%= userName%> </span> 
            <%= userStatus %>
         </h1>     
    
        </div>

    </div>
    
</body>
</html>